APP_HOST=
APP_PORT=

ADMIN_CODE=

PGDB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_SSL=

JWT_EXPIRY_TIME=
JWT_SECRET=
PASSWORD_RESET_EXPIRY=
OTP_EXPIRY=
EMAIL_VERIFICATION_EXPIRY=

REDIS_URL=
REDIS_PASSWORD=
REDIS_DB=

SMTP_PASSWORD=
SMTP_PORT=587
SMTP_HOST=
SMTP_EMAIL=
SMTP_USER=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URL=

RAZORPAY_ID=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

COD_ORDER_MAX_AMOUNT=
ALL_ORDER_MAX_AMOUNT=

SHIPPING_COST=
DELIVERY_TIME=

CART_MAX_QUANTITY=